.header {

  /*PC*/
  @media (max-width: 1087px) {
    max-width: 970px;
    margin: 0 auto;
  }

  /*TABLET*/
  @media (max-width: 991.98px) {
    max-width: 750px;
    margin: 0 auto;
  }

  /*MOBILE*/
  @media (max-width: 767.98px) {
    max-width: none;
    margin: 0 auto;
  }
}

/*===========================================*/


.header {}

.header__container {
  padding-top: 20px;
  padding-bottom: 20px;

  /*TABLET*/
  @media (max-width: 991.98px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  /*MOBILE*/
  @media (max-width: 767.98px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.header__menu {}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu__block-icon {
  display: flex;

}

.menu__icon {}

.icon-menu {
  margin-top: 15px;
  width: 80px;
  height: 80px;
  border-radius: 10%;

  &:hover {
    box-shadow: 1px 3px 18px 3px rgb(187 27 27 / 54%);
  }

  /*TABLET*/
  @media (max-width: 991.98px) {
    margin-top: 10px;
    width: 70px;
    height: 70px;
    border-radius: 9%;
  }

  /*MOBILE*/
  @media (max-width: 767.98px) {
    margin-top: 5px;
    width: 60px;
    height: 60px;
    border-radius: 8%;
  }
}

.menu__title {
  font-family: 'Lobster', cursive;
  font-size: 25px;
  margin-left: 5px;
  margin-right: 5px;
  align-self: center;

  @media (max-width: 991.98px) {
    font-size: 20px;
    margin-left: 4px;
    margin-right: 4px;
  }

  @media (max-width: 767.98px) {
    font-size: 15px;
    margin-left: 3px;
    margin-right: 3px;
  }
}

.menu__body {
  display: flex;
  align-items: center;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  list-style: none;

  @media (max-width: 1087px) {
    gap: 40px;
  }

  @media (max-width: 991.98px) {
    gap: 30px;
  }

  @media (max-width: 767.98px) {
    gap: 20px;
  }
}

.menu__item {}

.menu__link {
  font-weight: 700;
  color: rgb(32, 31, 31);

  &:hover {
    color: rgb(224, 21, 21);
  }

  @media (max-width: 991.98px) {
    font-size: 11px;
  }

  @media (max-width: 767.98px) {
    font-size: 9px;
  }
}

.menu__contacts {
  align-self: center;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contacts__tel {
  font-size: 34px;
  font-weight: 700;
  color: rgb(224, 21, 21);

  &:hover {
    text-shadow: 1px 1px 2px black, 0 0 1em rgba(34, 23, 23, 0.54);
  }

  @media (max-width: 991.98px) {
    font-size: 26px;
  }

  @media (max-width: 767.98px) {
    font-size: 18px;
  }
}

.contacts__text {
  margin-top: 20px;
  font-weight: 700;

  @media (max-width: 991.98px) {
    font-size: 11px;
    margin-top: 15px;
  }

  @media (max-width: 767.98px) {
    font-size: 9px;
    margin-top: 10px;
  }
}